{{ form_start(form, {'action': path('menucomposant_new', {'menu': menu }), 'method': 'POST'}) }}
<table>
    <tbody>
    <tr>
        <td>
            {{ form_widget(form.titre, {'attr' : {'placeholder':'Titre', 'class':'form-control'}}) }}
        </td>
        <td>
            {{ form_widget(form.prix, {'attr': {'placeholder':'Prix (CFA)', 'class':'form-control'}}) }}
        </td>
        <td>
            <input type="submit" value="ajouter" class="btn">
        </td>
    </tr>
    </tbody>
</table>
{{ form_end(form) }}