{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menucomposant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menuComposant.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ menuComposant.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ menuComposant.prix }}</td>
            </tr>
            <tr>
                <th>Vignette</th>
                <td>{{ menuComposant.vignette }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menucomposant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('menucomposant_edit', { 'id': menuComposant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
