{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventphoto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventPhoto.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ eventPhoto.url }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eventPhoto.nom }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{% if eventPhoto.datecreation %}{{ eventPhoto.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventphoto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventphoto_edit', { 'id': eventPhoto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
