{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">

    <!-- gallery -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor_components/gallery/css/animated-masonry-gallery.css') }}" />

    <!-- fancybox -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor_components/lightbox-master/dist/ekko-lightbox.css') }}" />

    <style>
        .button-holder{
            padding-top:100px;
        }
        .ajax-button{
            position:relative;
            display:inline-block;
            width:100px;
            height:40px;
            left:50%;
            top:50%;
            margin-left:-50px;
            margin-top:-20px;
            text-align:center;
        }
        .submit{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width:100px;
            height:40px;
            background-color:#111111;
            border:2px solid #FFFFFF;
            border-radius:10px;
            color:#FFFFFF;
            font-size:17px;
            cursor:pointer !important;
            outline:none;
        }

        .submit:hover{
            background-color:#222222;
        }
        .loading{
            font-size:0;
            width:30px;
            height:30px;
            margin-top:5px;
            border-radius:15px;
            padding:0;
            border:3px solid #FFFFFF;
            border-bottom:3px solid rgba(255,255,255,0.0);
            border-left:3px solid rgba(255,255,255,0.0);
            background-color:transparent !important;
            animation-name: rotateAnimation;
            -webkit-animation-name: wk-rotateAnimation;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            animation-delay: 0.2s;
            -webkit-animation-delay: 0.2s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
        }

        @keyframes rotateAnimation {
            0%   {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
        @-webkit-keyframes wk-rotateAnimation {
            0%   {-webkit-transform: rotate(0deg);}
            100% {-webkit-transform: rotate(360deg);}
        }

        .fa{
            color:#ffffff;
            font-size:18px !important;
            position:absolute;
            left:50%;
            top:50%;
            margin-left:-9px;
            margin-top:-9px;
            -webkit-transform:scaleX(0) !important;
            transform:scaleX(0) !important;
        }

        .finish{
            -webkit-transform:scaleX(1) !important;
            transform:scaleX(1) !important;
        }
        .hide-loading{
            opacity:0;
            -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
            -webkit-transform:scale(0) !important;
            transform:scale(0) !important;
        }
    </style>
{% endblock %}

{% block title_page %} Etablissement {% endblock %}
{% block sub_title_page %} Présentation de l'établissement {{ institution.nom }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xl-4 col-lg-5">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    {% if institution.photo is not null %}
                        <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ asset('images/'~ institution.photo) }}" alt="{{ institution.nom }}">
                    {% else %}
                        <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ asset('images/150x100.png') }}" alt="Image par défaut">
                    {%  endif %}

                    <h3 class="profile-username text-center">{{ institution.nom }}</h3>

                    <p class="text-muted text-center">{{ institution.categorie }}</p>

                    <div class="row social-states">
                        <div class="col-6 text-right"><a href="#" class="link"><i class="ion ion-ios-people-outline"></i> 254</a></div>
                        <div class="col-6 text-left"><a href="#" class="link"><i class="ion ion-images"></i> 54</a></div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="profile-user-info">
                                <p>E-mail </p>
                                <h6 class="margin-bottom">{{ institution.email }}</h6>
                                <p>Téléphone</p>
                                <h6 class="margin-bottom">{{ institution.telephone }}</h6>
                                <p>Adresse</p>
                                <h6 class="margin-bottom">{{ institution.adresse }}</h6>
                                <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2805244.1745767146!2d-86.32675167439648!3d29.383165774894163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c1766591562abf%3A0xf72e13d35bc74ed0!2sFlorida%2C+USA!5e0!3m2!1sen!2sin!4v1501665415329" height="150" style="border:0" allowfullscreen></iframe>
                                </div>
                                <p class="margin-bottom">Social Profile</p>
                                <div class="user-social-acount">
                                    <a href="{{ institution.facebook }}" class="btn btn-circle btn-social-icon btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <button href="{{ institution.twitter }}" class="btn btn-circle btn-social-icon btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button href="{{ institution.instagram }}" class="btn btn-circle btn-social-icon btn-instagram">
                                        <i class="fa fa-instagram"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-8 col-lg-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                    <li><a class="active" href="#infos" data-toggle="tab">Infos générales</a></li>
                    <li><a href="#galerie" data-toggle="tab">Galerie d'images</a></li>
                    <li><a href="#settings" data-toggle="tab">Modifer</a></li>
                    {% if institution.categorie.identifiant == "restaurants" %}
                    <li><a href="#menu" data-toggle="tab">Menu</a></li>
                    {% endif %}
                </ul>

                <div class="tab-content">

                    <div class="active tab-pane" id="infos">
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <td>Description</td>
                                    <td>
                                        <p>
                                            {{ institution.description }}
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Prix : </td>
                                    <td>
                                        <b>
                                            {{ institution.price }}
                                        </b>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Offre</td>
                                    <td>
                                        {% if institution.offre is not null %}
                                            {% if institution.offre.identifiant == 'basic' %}
                                                <label class="label label-primary">Basic</label>
                                            {% elseif institution.offre.identifiant == 'premium' %}
                                                <label class="label label-default">Prémium</label>
                                            {% elseif institution.offre.identifiant == 'gold' %}
                                                <label class="label label-warning">Gold</label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                                {% if institution.categorie.identifiant == "restaurants" %}
                                    <tr>
                                        <td>En promo</td>
                                        <td>
                                            {% if institution.promo == 1 %}
                                            OUI
                                            {% else %}
                                            NON
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td>En solde</td>
                                            <td>
                                                {% if institution.promo == 1 %}
                                                    OUI
                                                {% else %}
                                                    NON
                                                {% endif %}
                                            </td>
                                        </tr>
                                {% endif %}

                                {% if institution.souscategorie is not null %}
                                <tr>
                                    <td>Sous Catégorie</td>
                                    <td>
                                        {{ institution.souscategorie.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="galerie">
                        <div class="form-group">
                            <label>Galeries (mois de 10 images)</label>
                            <div class="dropzone my-dropzone dz-clickable" id="form_snippet_image" action="{{path('ajax_snippet_image_send', {'id': institution.id})}}">
                                <div class="dz-default dz-message" data-dz-message="">
                                    <span>Glissez/Déposez ici les photos de la galerie</span>
                                </div>
                            </div>

                        </div>

                        <!-- Default box -->
                        <div class="box">

                            <!-- /.user-block -->
                            <div class="box-tools pull-right">
                                <a href="{{ path('admin_institution_show', {'id': institution.id}) }}" type="button" class="btn btn-box-tool" data-widget="refresh">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <!-- /.box-tools -->

                            <div class="box-body">

                                <div class="row fx-element-overlay">
                                    {% for galerie in institution.galeries %}
                                        <div class="box box-default">
                                            <div class="fx-card-item">
                                                <div class="fx-card-avatar fx-overlay-1"> <img src="{{ asset('images/' ~ galerie.nom) }}" alt="user">
                                                    <div class="fx-overlay">
                                                        <ul class="fx-info">
                                                            <li>
                                                                <a class="btn default btn-outline" href="{{ path('admin_institution_delete_galerie',{'id':galerie.id, 'id_institution': institution.id}) }}">
                                                                    <i class="ion-delete"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                    <h3>Formulaire d'edition </h3>
                        {{ render(controller('AppBundle:Institution:edit', { 'id': institution.id })) }}
                    </div>

                    {% if institution.categorie.identifiant == "restaurants" %}


                            <div class="tab-pane" id="menu">
                                <!--Modal de création d'un nouveau menu-->
                                <br>
                                {% if institution.menus|length == 0 %}
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-primary">
                                    Ajouter un nouveau menu
                                </button>
                                {% endif %}

                                <br><br>
                                {% for menu in institution.menus %}
                                <div class="box box-widget">
                                    <div class="box-header with-border">
                                        <div class="user-block">
                                            {% if institution.photo is not null %}
                                                <img class="rounded" src="{{ asset('images/'~ institution.photo) }}" alt="{{ menu.nom }}">
                                                {% else %}
                                                    <img class="rounded" src="{{ asset('images/150x100.png') }}" alt="User Image">
                                            {% endif %}
                                            <span class="username"><a href="#">{{ menu.nom }}</a></span>
                                            <span class="description">Publié le : &nbsp;<code> {{ menu.dateCreation|date('d m Y H:i:s') }} </code></span>
                                            <p>
                                                {{ menu.description }}
                                            </p>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="box-tools">
                                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                                                <i class="fa fa-comments-o"></i></button>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <!-- /.box-body -->
                                    <div class="box-footer box-comments" style="">

                                        <form id="form-add-composant" action="#" method="post" class="well">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="titre" placeholder="Titre">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="prix" placeholder="Prix">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="photo" placeholder="Lien de l'image">
                                                            <input type="hidden" name="menu" value="{{ menu.id }}">
                                                        </td>
                                                        <td>
                                                            <input id="submit" type="submit" class="btn btn-primary" value="Ajouter">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>

                                        <br>
                                        {% for composant in menu.composants %}
                                            <div class="box-comment">
                                                {% if composant.vignette is not null %}
                                                    <img class="rounded" src="{{ composant.vignette }}" alt="{{ menu.nom }}">
                                                {% else %}
                                                    <img class="rounded" src="{{ asset('images/150x100.png') }}" alt="User Image">
                                                {% endif %}
                                                <!-- /.comment-text -->
                                                <div class="comment-text">
                                                  <span class="username">
                                                    {{ composant.titre }}
                                                      <span class="text-muted pull-right">{{ composant.prix }} FCFA</span>
                                                  </span><!-- /.username -->
                                                    {{ composant.details }}
                                                </div>
                                                <!-- /.comment-text -->
                                            </div>
                                        {% endfor %}

                                        <!-- /.box-comment -->
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="modal modal-default fade" id="modal-primary">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajouter un nouveau menu</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                {{ render(controller('AppBundle:Menu:new', { 'restaurant_id': institution.id })) }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->

                                </div>
                            </div>

                    {% endif %}
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){

            //var form = $(this).closest('ul').attr('id');
            //submit form add composant
            $('#form-add-composant').submit(function(e) {

                e.preventDefault();
                var url = "{{ path('menucomposant_ajax_new') }}";
                var formSerialize = $(this).serialize();

                $("#submit").addClass("loading");

                $.post(url, formSerialize, function(response) {
                    //your callback here
                    console.log(response);

                    $("#submit").removeClass("loading");

                    $('.box-comments').append('<div class="box-comment">\n' +
                        '                                                    <img class="rounded" src="'+response.photo+'">\n' +
                        '                                                '+
                    '                                                <!-- /.comment-text -->\n' +
                    '                                                <div class="comment-text">\n' +
                    '                                                  <span class="username">\n' +
                    '                                                    '+response.titre+'\n' +
                    '                                                      <span class="text-muted pull-right">'+response.prix+' FCFA</span>\n' +
                    '                                                  </span><!-- /.username -->\n' +
                    '                                                </div>\n' +
                    '                                                <!-- /.comment-text -->\n' +
                    '                                            </div>') ;


                    $("#form-add-composant")[0].reset();

                }, 'JSON');
            });

            //je récupère l'action où sera traité l'upload en PHP
            var _actionToDropZone = $("#form_snippet_image").attr('action');

            //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
            Dropzone.autoDiscover = false;
            var my_dropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone });
            my_dropzone.on("addedfile", function(file) {
                console.log('nouveau fichier reçu');
            });
        });
    </script>
    <!-- dropzone -->
    <script src="{{ asset('js/dropzone.js') }}"></script>

    <script src="{{ asset('bundles/bnbcupload/js/2_jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/3_jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/4_jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/5_init.js') }}"></script>

{% endblock %}

{% block gallery %}
    <!-- gallery -->
    <script type="text/javascript" src="{{ asset('assets/vendor_components/gallery/js/animated-masonry-gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor_components/gallery/js/jquery.isotope.min.js') }}"></script>

    <!-- fancybox -->
    <script type="text/javascript" src="{{ asset('assets/vendor_components/lightbox-master/dist/ekko-lightbox.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function($) {

            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function(direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });
            //Programatically call
            $('#open-image').click(function(e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function(e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
                event.preventDefault();
                var lb;
                return $(this).ekkoLightbox({
                    onShown: function() {
                        lb = this;
                        $(lb.modal_content).on('click', '.modal-footer a', function(e) {
                            e.preventDefault();
                            lb.navigateTo(2);
                        });
                    }
                });
            });


            //je récupère l'action où sera traité l'upload en PHP
            var _actionToDropZone = $("#form_snippet_image").attr('action');
            //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone });

            myDropzone.on("addedfile", function(file) {
                alert('nouveau fichier reçu');
                console.log(file) ;
            });
        });
    </script>
{% endblock %}