{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xl-4 col-lg-5">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">

                {%  if app.user.photo %}
                    <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ asset('uploads/profiles/'~app.user.photo) }}" alt="User profile picture">
                    {% else %}
                        <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ asset('images/user2-160x160.png') }}" alt="User profile picture">
                {% endif %}



                <h3 class="profile-username text-center">{{ app.user.prenom }} {{ app.user.nom }}</h3>

                <p class="text-muted text-center">
                    {{ app.user.adresse }}
                </p>

                <div class="row">
                    <div class="col-12">
                        <div class="profile-user-info">
                            <p>Adresse e-mail</p>
                            <h6 class="margin-bottom">{{ user.email }}</h6>
                            <p>Téléphone</p>
                            <h6 class="margin-bottom">{{ app.user.telephone }}</h6>
                            <p>Adresse</p>
                            <h6 class="margin-bottom">{{ app.user.adresse }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-xl-8 col-lg-7">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#settings" data-toggle="tab">Modifier mon profil</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="settings">
                    {{ render(path('fos_user_profile_edit')) }}
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
    <!-- /.row -->