{# app/Resources/views/Emails/registration.html.twig #}
<h3></h3>

Salut {{ article.nomAuteur }}!

{# example, assuming you have a route named "login" #}
Votre événement <b> {{ article.titre }}</b> a été approuvé et publié avec succès

Enjoy !

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">