{# app/Resources/views/Emails/registration.html.twig #}
<h3>Formulaire de contact</h3>
<p>
    <b>Objet : </b> {{ objet }} <br>
    <b>Message : </b>
    <p>
    {{ message }}
</p>
</p>
{# example, assuming you have a route named "login" #}
Ce message a été envoyé depuis l'application mobile de liv'in dakar par <b>{{ user.usernam }}({{ user.email }})</b> <br>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">