{# app/Resources/views/Emails/registration.html.twig #}
<h3></h3>

Salut {{ username }}! Vous êtes enregistré avec succès.

{# example, assuming you have a route named "login" #}
Votre code d'accès à votre application mobile est : <b>{{ code }}</b>

Merci!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">