{% extends 'base.html.twig' %}

{% block title_page %}Gestion des offres {% endblock %}
{% block sub_title_page %} {% endblock %}

{% block body %}
    <!-- START Card With Image -->
    <div class="row fx-element-overlay">
        <div class="col-12">
            <h2 class="card-title">Liste de toutes nos offres</h2>
        </div>
        {% for offre in offres %}
            {% if offre.identifiant == "basic" %}
            <div class="col-md-12 col-lg-4">
                <div class="box box-default">
                    <div class="fx-card-item">
                        <div class="fx-card-avatar fx-overlay-1"> <img src="{{ asset('images/basic.jpg') }}" alt="user">
                            <div class="fx-overlay">
                                <ul class="fx-info">
                                    <li><a class="btn default btn-outline" href="{{ path('admin_offre_edit',{'id':offre.id}) }}"><i class="ion-edit"></i></a></li>
                                    <li><a class="btn default btn-outline" href="{{ path('admin_offre_show',{'id':offre.id}) }}"><i class="ion-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        {#<div class="fx-card-content">#}
                            {#<h3 class="box-title alert-primary">{{ offre.nom }}</h3>#}
                            {#<p class="card-text">{{ offre.description }}</p>#}
                        {#</div>#}
                    </div>
                </div>
                <!-- /.box -->
            </div>
            {% endif %}
            <!-- /.col -->
            {% if offre.identifiant == "premium" %}
            <div class="col-md-12 col-lg-4">
                <div class="box box-default">
                    <div class="fx-card-item">
                        <div class="fx-card-avatar fx-overlay-1"> <img src="{{ asset('images/premium.jpg') }}" alt="user">
                            <div class="fx-overlay">
                                <ul class="fx-info">
                                    <li><a class="btn default btn-outline" href="{{ path('admin_offre_show',{'id':offre.id}) }}"><i class="ion-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        {#<div class="fx-card-content">#}
                            {#<h3 class="box-title alert-dark">{{ offre.nom }}</h3>#}
                            {#<p class="card-text">{{ offre.description }}</p>#}
                        {#</div>#}
                    </div>
                </div>
                <!-- /.box -->
            </div>
            {% endif %}
            <!-- /.col -->
            {% if offre.identifiant == "gold" %}
            <div class="col-md-12 col-lg-4">
                <div class="box box-default">
                    <div class="fx-card-item">
                        <div class="fx-card-avatar fx-overlay-1"> <img src="{{ asset('images/gold.jpg') }}" alt="user">
                            <div class="fx-overlay">
                                <ul class="fx-info">
                                    <li><a class="btn default btn-outline" href="{{ path('admin_offre_show',{'id':offre.id}) }}"><i class="ion-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        {#<div class="fx-card-content">#}
                            {#<h3 class="box-title alert-warning">{{ offre.nom }}</h3>#}
                            {#<p class="card-text">{{ offre.description }}</p>#}
                        {#</div>#}
                    </div>
                </div>
                <!-- /.box -->
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- /.row -->
    <!-- END Card with image -->
{% endblock %}
