<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-site-verification" content="QCG-4P9fZ2LxoZvXTUpIcTRPwPMorxL3FdEM9dpchE0" />
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        <title>{% block title %}Bienvenue sur Liv'In Dakar!{% endblock %}</title>
        {% block stylesheets %}
            <!-- bootstrap 4.0 -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap.css') }}">

            <!-- Bootstrap 4.0-->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css') }}">

            <!-- font awesome -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/font-awesome/css/font-awesome.css') }}">

            <!-- ionicons -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/Ionicons/css/ionicons.css') }}">

            <!-- theme style -->
            <link rel="stylesheet" href="{{ asset('css/master_style.css') }}">

            <!-- mpt_admin skins. choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{{ asset('css/skins/_all-skins.css') }}">

            <!-- morris chart -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/morris.js/morris.css') }}">

            <!-- jvectormap -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/jvectormap/jquery-jvectormap.css') }}">

            <!-- date picker -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css') }}">

            <!-- daterange picker -->
            <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css') }}">


            <!-- google font -->
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="hold-transition skin-red sidebar-mini">

    <div class="wrapper">

        {% include 'header.html.twig' %}

        <!-- Left side column. contains the logo and sidebar -->
        {% include 'aside.html.twig' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block title_page %}  {% endblock %}
                    <small>{% block sub_title_page %} {% endblock %}</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                    <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                {% block body %}
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="ion ion-stats-bars"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-number">90<small>%</small></span>
                                <span class="info-box-text">Store Traffic</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="ion ion-thumbsup"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-number">41,410</span>
                                <span class="info-box-text">User Likes</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-purple"><i class="ion ion-bag"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-number">760</span>
                                <span class="info-box-text">Monthly Sales</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="ion ion-person-stalker"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-number">2,000</span>
                                <span class="info-box-text">Join Members</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-xl-6 connectedSortable">
                        <!-- interactive chart -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-line-chart"></i>

                                <h3 class="box-title">Expence</h3>

                                <div class="box-tools pull-right">
                                    Real time
                                    <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                        <button type="button" class="btn btn-default bg-green btn-sm active" data-toggle="on">On</button>
                                        <button type="button" class="btn btn-default bg-red btn-sm" data-toggle="off">Off</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="interactive" style="height: 342px;"></div>
                            </div>
                            <!-- /.box-body-->
                        </div>
                        <!-- /.box -->

                        <!-- Chat box -->
                        <div class="box">
                            <div class="box-header">
                                <i class="fa fa-comments"></i>

                                <h3 class="box-title">Chat Activity</h3>

                                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                                    <div class="btn-group" data-toggle="btn-toggle">
                                        <button type="button" class="btn btn-default btn-sm no-border green-btn"><i class="fa fa-square text-white"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm no-border red-btn"><i class="fa fa-square text-white"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body chat" id="chat-box">
                                <!-- chat item -->
                                <div class="item">
                                    <img src="images/user4-128x128.jpg" alt="user image" class="online">

                                    <p class="message">
                                        <a href="#" class="name">
                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 4:15</small>
                                            Smith doe
                                        </a>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                </div>
                                <!-- /.item -->
                                <!-- chat item -->
                                <div class="item">
                                    <img src="images/user3-128x128.jpg" alt="user image" class="offline">

                                    <p class="message">
                                        <a href="#" class="name">
                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 6:10</small>
                                            Maical Jordan
                                        </a>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                </div>
                                <!-- /.item -->
                                <!-- chat item -->
                                <div class="item">
                                    <img src="images/user2-160x160.jpg" alt="user image" class="offline">

                                    <p class="message">
                                        <a href="#" class="name">
                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 7:30</small>
                                            Adaom Clark
                                        </a>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                </div>
                                <!-- /.item -->
                                <!-- chat item -->
                                <div class="item">
                                    <img src="images/user4-128x128.jpg" alt="user image" class="online">

                                    <p class="message">
                                        <a href="#" class="name">
                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 4:15</small>
                                            Smith doe
                                        </a>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                </div>
                                <!-- /.item -->
                                <!-- chat item -->
                                <div class="item">
                                    <img src="images/user3-128x128.jpg" alt="user image" class="offline">

                                    <p class="message">
                                        <a href="#" class="name">
                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 6:10</small>
                                            Maical Jordan
                                        </a>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </p>
                                </div>
                                <!-- /.item -->
                            </div>
                            <!-- /.chat -->
                            <div class="box-footer">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Type message...">

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box (chat box) -->

                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-xl-6 connectedSortable">

                        <!-- Map box -->
                        <div class="box">
                            <div class="box-header">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-white btn-sm daterange pull-right" data-toggle="tooltip"
                                            title="Date range">
                                        <i class="fa fa-calendar"></i></button>
                                    <button type="button" class="btn btn-white btn-sm pull-right" data-widget="collapse"
                                            data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                                <!-- /. tools -->

                                <i class="fa fa-map-marker"></i>

                                <h3 class="box-title">
                                    Visitors
                                </h3>
                            </div>
                            <div class="box-body">
                                <div id="world-map" style="height: 250px; width: 100%;"></div>
                            </div>
                            <!-- /.box-body-->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col text-center" style="border-right: 1px solid #f4f4f4">
                                        <div id="sparkline-1"></div>
                                        <div class="knob-label">Visitors</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col text-center" style="border-right: 1px solid #f4f4f4">
                                        <div id="sparkline-2"></div>
                                        <div class="knob-label">Online</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col text-center">
                                        <div id="sparkline-3"></div>
                                        <div class="knob-label">Exists</div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- solid sales graph -->
                        <div class="box">
                            <div class="box-header">
                                <i class="fa fa-th"></i>

                                <h3 class="box-title">Sales Graph</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-white btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-white btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body border-radius-none">
                                <div id="bar-chart" style="height: 245px;"></div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col text-center" style="border-right: 1px solid #f4f4f4">
                                        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                               data-fgColor="#7460ee">

                                        <div class="knob-label">Mail Orders</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col text-center" style="border-right: 1px solid #f4f4f4">
                                        <input type="text" class="knob" data-readonly="true" value="60" data-width="60" data-height="60"
                                               data-fgColor="#7460ee">

                                        <div class="knob-label">Online Orders</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col text-center">
                                        <input type="text" class="knob" data-readonly="true" value="40" data-width="60" data-height="60"
                                               data-fgColor="#7460ee">

                                        <div class="knob-label">In-Store Orders</div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->
                    </section>
                    <!-- right col -->
                    <section class="col">

                        <!-- quick email widget -->
                        <div class="box box-info">
                            <div class="box-header">
                                <i class="fa fa-envelope"></i>

                                <h3 class="box-title">Quick Email</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip"
                                            title="Remove">
                                        <i class="fa fa-times"></i></button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <div class="box-body">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="emailto" placeholder="Email to:">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject">
                                    </div>
                                    <div>
                                        <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="box-footer clearfix">
                                <button type="button" class="pull-right btn btn-blue" id="sendEmail"> Send <i class="fa fa-paper-plane-o"></i></button>
                            </div>
                        </div>
                    </section>

                </div>
                <!-- /.row (main row) -->
                {% endblock %}

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include 'footer.html.twig' %}

    </div>

        {% block javascripts %}
            <!-- jQuery 3 -->
            <script src="{{ asset('assets/vendor_components/jquery/dist/jquery.js') }}"></script>

            <!-- jQuery UI 1.11.4 -->
            <script src="{{ asset('assets/vendor_components/jquery-ui/jquery-ui.js') }}"></script>

            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            <script>
                $.widget.bridge('uibutton', $.ui.button);
            </script>

            <!-- popper -->
            <script src="{{ asset('assets/vendor_components/popper/dist/popper.min.js') }}"></script>

            <!-- Bootstrap 4.0 -->
            <script src="{{ asset('assets/vendor_components/bootstrap/dist/js/bootstrap.js') }}"></script>

            <!-- FLOT CHARTS -->
            <script src="{{ asset('assets/vendor_components/Flot/jquery.flot.js') }}"></script>

            <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
            <script src="{{ asset('assets/vendor_components/Flot/jquery.flot.resize.js') }}"></script>

            <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
            <script src="{{ asset('assets/vendor_components/Flot/jquery.flot.pie.js') }}"></script>

            <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
            <script src="{{ asset('assets/vendor_components/Flot/jquery.flot.categories.js') }}"></script>

            <!-- Sparkline -->
            <script src="{{ asset('assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.js') }}"></script>

            <!-- jvectormap -->
            <script src="{{ asset('assets/vendor_plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
            <script src="{{ asset('assets/vendor_plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>

            <!-- jQuery Knob Chart -->
            <script src="{{ asset('assets/vendor_components/jquery-knob/js/jquery.knob.js') }}"></script>

            <!-- daterangepicker -->
            <script src="{{ asset('assets/vendor_components/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

            <!-- datepicker -->
            <script src="{{ asset('assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}"></script>

            <!-- Bootstrap WYSIHTML5 -->
            <script src="{{ asset('assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js') }}"></script>

            <!-- Slimscroll -->
            <script src="{{ asset('assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

            <!-- FastClick -->
            <script src="{{ asset('assets/vendor_components/fastclick/lib/fastclick.js') }}"></script>

            <!-- mpt_admin App -->
            <script src="{{ asset('js/template.js') }}"></script>

            <!-- mpt_admin dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('js/pages/dashboard.js') }}"></script>

            <!-- mpt_admin for demo purposes -->
            <script src="{{ asset('js/demo.js') }}"></script>
        {% endblock %}
    </body>
</html>
