{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventCategorie in eventCategories %}
            <tr>
                <td><a href="{{ path('eventcategorie_show', { 'id': eventCategorie.id }) }}">{{ eventCategorie.id }}</a></td>
                <td>{{ eventCategorie.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventcategorie_show', { 'id': eventCategorie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventcategorie_edit', { 'id': eventCategorie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventcategorie_new') }}">Create a new eventCategorie</a>
        </li>
    </ul>
{% endblock %}
