{% extends "@FOSUser/layout.html.twig" %}

{% block title_auth %}S'inscrire{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}

{% block not_comtpe %}
    <div class="margin-top-30 text-center">
        <p>J'ai déjà un compte. <a href="{{ path('fos_user_security_login') }}" class="text-info m-l-5">Se connecter</a></p>
    </div>
{% endblock %}