{% extends "::base.html.twig" %}

{% block title_page %} Tableau de bord {% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    <!-- bootstrap 4.0 -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap.css') }}">

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css') }}">

    <!-- font awesome -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/font-awesome/css/font-awesome.css') }}">

    <!-- ionicons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/Ionicons/css/ionicons.css') }}">

    <!-- theme style -->
    <link rel="stylesheet" href="{{ asset('css/master_style.css') }}">

    <!-- bonitoadmin Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('css/skins/_all-skins.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-building"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">{{ institutions|length }}</span>
                    <span class="info-box-text"> Institutions </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-calendar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">{{ events|length }}</span>
                    <span class="info-box-text">Evénements</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>


        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">{{ publicites|length }}</span>
                    <span class="info-box-text">Publicité</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <!-- /.col (LEFT) -->
        <div class="col-xl-12 col-12">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Evolution des utilisateurs de la plateforme web & mobile</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas {#id="lineChart"#} style="height:600px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
    </div>


    <div class="row">
        <!-- DONUT CHART -->
       <div class="col-xs-12 col-12">
           <div class="box box-danger">
               <div class="box-header with-border">
                   <h3 class="box-title">Nombre d'établissements par catégories</h3>

                   <div class="box-tools pull-right">
                       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                       <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                   </div>
               </div>
               <div class="box-body">
                   <canvas {#id="pieChart"#} style="height:600px"></canvas>
               </div>
               <!-- /.box-body -->
           </div>
       </div>
        <!-- /.box -->
    </div>

{% endblock %}


{% block javascripts %}
    <!-- jQuery 3 -->
    <script src="{{ asset('assets/vendor_components/jquery/dist/jquery.js') }}"></script>

    <!-- popper -->
    <script src="{{ asset('assets/vendor_components/popper/dist/popper.min.js') }}"></script>

    <!-- Bootstrap 4.0 -->
    <script src="{{ asset('assets/vendor_components/bootstrap/dist/js/bootstrap.js') }}"></script>

    <!-- SlimScroll -->
    <script src="{{ asset('assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ asset('assets/vendor_components/chart-js/chart.js') }}"></script>

    <!-- FastClick -->
    <script src="{{ asset('assets/vendor_components/fastclick/lib/fastclick.js') }}"></script>

    <!-- bonitoadmin App -->
    <script src="{{ asset('js/template.js') }}"></script>

    <!-- bonitoadmin for demo purposes -->
    <script src="{{ asset('js/demo.js') }}"></script>

    <!-- bonitoadmin for Chart purposes -->
    <script src="{{ asset('js/pages/widget-charts.js') }}"></script>
{% endblock %}