{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ place.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ place.adresse }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ place.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ place.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('place_edit', { 'id': place.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
