{% extends 'base.html.twig' %}

{% block body %}
    <h1>Souscategorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousCategorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sousCategorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sousCategorie.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ sousCategorie.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_souscategorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_souscategorie_edit', { 'id': sousCategorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
