{% extends 'base.html.twig' %}

{% block title_page %} Gestion des événements {% endblock %}
{% block sub_title_page %}  {% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12">

             <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Liste des événements</h3>
                    <a class="btn btn-info pull-right" href="{{ path('event_new') }}">
                        Une nouvel événement
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    {% for message in app.flashes('success_approve') %}
                        <div class="flash-notice alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('failed_approve') %}
                        <div class="flash-notice alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}



                    <table id="example1" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Statut</th>
                                <th>Photo</th>
                                <th>Nom</th>
                                <th>Date de l'événement</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    {% if event.status == 1 %}
                                        <i style="color: darkgreen" class="fa fa-check-square"></i>
                                        {% elseif event.status == 0 %}
                                        <i style="color: red" class="fa fa-circle"></i>
                                        {% else %}
                                        <i style="color: gold" class="fa fa-minus-square"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('event_show', { 'id': event.id }) }}">
                                        {% if event.photo is not null %}
                                            <img class="img-thumbnail img-sm" src="{{ asset('images/'~event.photo) }}" alt="{{ event.nom }}">
                                        {% else %}
                                            <img class="img-thumbnail img-sm" src="{{ asset('images/150x100.png') }}" alt="{{ event.nom }}">
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ event.nom }}</td>
                                <td>{{ event.dateEvent }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">
                                            <a href="{{ path('event_show', { 'id': event.id }) }}">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </button>
                                        <button type="button" class="btn btn-warning">
                                            <a href="{{ path('event_edit', { 'id': event.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{{ path('event_approve',{'id': event.id, 'status': 1}) }}">Approuvé</a>
                                                <a class="dropdown-item" href="{{ path('event_approve',{'id': event.id, 'status': 0}) }}">Rejeté</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                 <!-- /.box-body -->
             </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}