{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taginstitution</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tagInstitution.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tagInstitution.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ tagInstitution.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taginstitution_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('taginstitution_edit', { 'id': tagInstitution.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
