{% extends 'base.html.twig' %}
{% block title_page %}Gestion des catégories {% endblock %}
{% block sub_title_page %} {% endblock %}
{% block body %}
    <!-- Basic Forms -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter une nouvelle catégorie</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Nom de la catégorie</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Identifiant de la catégorie</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.identifiant, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.desription, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Image de la catégorie</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.image, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">

                        </label>
                        <div class="col-sm-9">
                            <input type="submit" value="Enregistrer" class="btn btn-block btn-success" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

{% endblock %}
